<footer class="container-fluid" id="support">
    <div class="container site-section">
        <div class="row between-xs">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <h4>{% t footer.help %}</h4>
                <p>{% t footer.help_para %} help@monerujo.io</p>
            </div>
            <div id="donate" class="col-md-4 col-sm-4 col-xs-12 list">
                <h4>{% t footer.donate %}</h4>
                <p>{% t footer.donate_para %}:</p>
                <img src="/img/monerujo_qr.png" alt="Monerujo Donation QR Code" class="qr_donate">
                <p class="word-wrap">4AdkPJoxn7JCvAby9szgnt93MSEwdnxdhaASxbTBm6x5dCwmsDep2UYN4FhStDn5i11nsJbpU7oj59ahg8gXb1Mg3viqCuk</p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 list">
                <h4>{% t footer.resources %}</h4>
                <ul>
                    <li><a href="https://github.com/m2049r/xmrwallet/tree/master/doc">{% t footer.github-docs %}</a></li>
                    <li><a href="https://getmonero.org">{% t footer.monero %}</a></li>
                    <li><a href="https://github.com/m2049r/xmrwallet/blob/master/LICENSE">{% t footer.license %}</a></li>
                 </ul>
            </div>
          </div>
          <div class="row bottom_row middle-xs center-xs">
            <div class="col-xs-12">
                <p id="copy">Copyright © 2017 Monerujo. All rights reserved.</p>
                <p><a href="/privacy-policy.html">Privacy Policy</a></p>
            </div>
          </div>
    </div>
</footer>
