<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Monerujo Android mobile wallet</title>
        <meta name="description" content="Monerujo is a Monero wallet that runs on Android smartphones. Accept or spend Monero directly from your phone, or manage your accounts.">
        
        <link rel="stylesheet" href="/css/custom.css">
        
        <link rel="canonical" href="#">
        <link rel="alternate" title="Monerujo" href="#">

        <meta property="og:title" content="Monerujo: The Android Monero Wallet">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://monerujo.io/">
        <meta property="og:description" content="The first Android Wallet for Monero. Ever.">
        <meta property="og:image" content="https://monerujo.io/img/gunther-omm-800x-still.png">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="https://monerujo.io/img/gunther-omm-800x-still.png">
        <meta name="twitter:title" content="Monerujo Mobile Wallet">
        <meta name="twitter:description" content="The first Android Wallet for Monero. Ever.">
        
        <link rel="icon" type="image/x-icon" href="/img/favicon.png"/>

        <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon/apple-icon-precomposed.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon/apple-icon-180x180.png">
        
   </head>